<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <h3>

            "Todos nós temos florestas em nossas mentes. Florestas inexploradas, sem fim. Cada um de nós se perde na floresta, todas as noites, sozinho". Ursula K. Le Guin


            <hr><img src="assets\img\726f083c-9eb3-4381-9dcb-7425dab2abfb_3_w4lker_the_cyberspace_as_a_dark_forest.png" alt="uma projeção de uma floresta negra nos confins do cyberespaço pela IA midjourney">
            <hr><img src="assets\img\delicate yet heroic garden at the edge of cyberspace final.png" alt="uma projeção de um jardim no cyberespaço">
         </hr>


      <div class="wrapper">

              <div id="title">
                <h3>Meu jardim digital nos confins da floresta negra do ciberespaço</h3>

                </div>
